@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;

}

.welcome-message {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin-bottom: 30px;
}

.login-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.login-image-container {
  margin-right: 50px;
}

.login-image {
  width: 300px;
  height: auto;
}

.login-form-container {
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-form-box{
  width: 30vw;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-input {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.login-button {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #03C988;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #02ad74;
}

.home {
  color: black;
}

.logo {
  height: 70px;
  width: 70px;
  margin-right: 40px;
  margin-bottom: 5px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 30vw;
  margin-right: 15vw;
  padding-top: 60px;
  row-gap: 25px;
}

.container .box {
  height: 100%;
  width: 90%;
  padding: 20px;
  border-radius: 7px;
  border: 1px solid transparent;
  color: #fff;
}

.container .box:nth-child(3n-2) {
  background-color: #279EFF;
}

.container .box:nth-child(3n-1) {
  background-color: #03C988;
}

.container .box:nth-child(3n) {
  background-color: #FFB84C;
}

.container .box:nth-child(3n-2):hover {
  border-color: #279EFF;
  background-color: #fff;
  transition: 0.5s;
  color: #279EFF;
}

.container .box:nth-child(3n-1):hover {
  border-color: #03C988;
  background-color: #fff;
  transition: 0.5s;
  color: #03C988;

}

.container .box:nth-child(3n):hover {
  border-color: #FFB84C;
  background-color: #fff;
  transition: 0.5s;
  color: #FFB84C;
}

.container .box .box-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bolder;
  font-size: 30px;
  padding-bottom: 20px;
}

.invoice-container {
  width: 60vw;
  margin: 50px 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

h1 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;

}

.bill-box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.bill-box-header .btn-primary {
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  background-color: #03C988;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid transparent;
  width: 20vw;
}

.bill-box-header .btn-primary:hover,
#reset:hover {
  background-color: #fff;
  color: #03C988;
  border: 1px solid #03C988;
  transition: 0.8s;
}

#reset {
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  background-color: #03C988;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid transparent;
  width: 5vw;
}

.bill-box1 {
  height: 55vh;
  width: 50vw;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.bill-box1:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.bill-box2 {
  height: 50vh;
  width: 50vw;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.bill-box2:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.bill-box3 {
  height: 50vh;
  width: 50vw;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.bill-box3:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.form-control {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 30vw;
  height: 5vh;
  padding: 10px;
}

.form-control:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.btn-success {
  height: 7vh;
  width: 10vw;
  background-color: #03C988;
  /* Green color for "Add Product" */
  color: #fff;
  border: none;
  position: relative;
  left: 35%;
  border-radius: 3px;
}

.btn-success:hover {
  background-color: #fff;
  color: #03C988;
  border: 1px solid #03C988;
  transition: 0.8s;
}

table {
  width: 50vw;
  border: 1px solid #000;
  border-collapse: collapse;
  position: relative;
  margin: auto;
}

th,
td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

th {
  background-color: #176B87;
  font-weight: bold;
  height: 10px;
  color: aliceblue;
  letter-spacing: 1px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40vw;
  margin: 5vh auto;
}

.btn-danger {
  background-color: crimson;
  border: none;
  color: aliceblue;
  height: 20px;
  width: 50px;
  border-radius: 3px;
}

.btn-primary,
.btn-info,
.btn-secondary {
  height: 7vh;
  width: 10vw;
  background-color: #176B87;
  /* Green color for "Add Product" */
  color: #fff;
  border-radius: 5px;
  border: none;

}

.btn-primary:hover,
.btn-info:hover,
.btn-secondary:hover {
  background-color: #fff;
  color: #176B87;
  border: 1px solid #176B87;
  transition: 0.8s;
}

.invoices-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 70px auto;
}

.invoice-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 18vh;
  width: 20vw;
  padding: 15px;
  border-radius: 7px;
  border: 1px solid transparent;
  color: #fff;
  background-color: #03C988;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
}

.invoice-box-text {
  margin-top: 5px;
}

.invoice-icon {
  font-size: 35px;
}

.invoice-box:hover {
  border: 1px solid #03C988;
  color: #03C988;
  background-color: #fff;
  transition: 0.8s;
}

#cent-tax,
#cent-tax-amount,
#state-tax,
#state-tax-amount {
  width: 30%;
  margin-left: 10px;
}

.cent-tax,
.state-tax {
  position: relative;
  left: 6.5%;
}

.searchbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.searchbar-input {
  padding: 10px;
  margin-bottom: 20px;
  width: 50%;
  box-sizing: border-box;
}

.pagination {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px;
}

.pagination-btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.pagination-button {
  height: 20px;
  width: 20px;
  border: none;
  text-align: center;
  color: #fff;
  background: #176B87;
}

.pagination-button-active {
  color: #176B87;
  background: #fff;
  border: 1px solid #176B87;
}

.manage-invoice-header {
  margin: 20px;
}

.view-invoice,
.download-invoice,
.delete-invoice {
  cursor: pointer;
}

.delete-invoice {
  font-size: 20px;
  color: rgb(242, 93, 93);
}

.download-invoice {
  color: #03C988;
  font-size: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.overlay-content button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.overlay-content button:hover {
  background-color: #f0f0f0;
}

.overlay-content>h2 {
  color: rgb(242, 93, 93);
  padding-bottom: 20px;
}

.overlay-content>p {
  padding-bottom: 20px;
}

/* Overlay for viewing invoice */
.invoice-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* Ensures overlay is above other elements */
}

.invoice-overlay-content {
  background: #fff;
  /* White background for the invoice content */
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  height: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #ff5c5c;
  /* Red background for close button */
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
}

.close-button:hover {
  background: #ff1a1a;
  /* Darker red on hover */
}

.invoice-iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.loading-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.manage-products-header, .manage-customers-header{
  margin: 20px;
}

.manage-product-search-add, .manage-customer-search-add{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}

.manage-product-header, .manage-customer-header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  width: 50%;
}

.manage-product-searchbar, .manage-customer-searchbar {
  width: 100%;
}

.manage-product-searchbar-input, .manage-customer-searchbar-input {
  width: 100%;
  height: 30px;
  padding: 10px;
}
.manage-add-product-box, .manage-add-customer-box{
  text-decoration: none;
}
.manage-add-product-icon, .manage-add-customer-icon{
  font-size: 20px;
  text-decoration: none;
}

.edit-product, .edit-customer{
  color: #03C988;
  font-size: 20px;
}

.delete-product, .delete-customer{
  color: #ff1a1a;
  font-size: 20px;
}

.product-overlay-searchbar-input, .customer-overlay-searchbar-input{
  width: 100%;
  height: 30px;
  margin-top: 10px;
  padding: 5px;
}

.customers-list-overlay, .products-list-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.customers-list-overlay-content, .products-list-overlay-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 70%;
  max-height: 95%;
  overflow-y: auto;
  position: relative;
}

.customers-list-overlay-content h3, .products-list-overlay-content h3 {
  margin-top: 0;
  text-align: center;
}

.customers-list-close-button, .products-list-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  background: #ff1a1a;
  border-radius: 50%;
  padding: 2px;
  color: white;
}

.customers-list-close-button:hover, .products-list-close-button:hover{
  cursor: pointer;
}

.customers-list-overlay-content table, .products-list-overlay-content table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.customers-list-overlay-content tr:hover, .products-list-overlay-content tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.add-product-page h1, .add-customer-page h1{
  margin: 20px;
  text-align: center;
}

.add-product-page-bill-box{
  height: 45vh;
}

.add-customer-page-bill-box{
  height: 50vh;
}
.add-product-page-bill-box, .add-customer-page-bill-box{
  width: 50vw;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-product-page-bill-box-header, .add-customer-page-bill-box-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.add-product-page-add-button, .add-customer-page-add-button{
  margin-top: 20px;
}

.add-product-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px;
  
}

.add-product-box, .add-customer-box {
  display: flex;
  align-items: center;
  justify-content: center; /* Center items horizontally */
  gap: 10px;
  text-decoration: none;
  background-color: #279EFF;
  padding: 10px;
  color: #fff;
  border-radius: 3px;
  border: 1px solid transparent;
  transition: 0.8s;
}

.add-product-box:hover, .add-customer-box:hover {
  border: 1px solid #279EFF;
  color: #279EFF;
  background-color: #fff;
}

.add-product-icon, .add-product-box-text {
  display: flex;
  align-items: center; /* Center items vertically */
}

.manage-product-overlay, .manage-customer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manage-product-overlay-content, .manage-customer-overlay-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 50%;
  width: 100%;
  text-align: center;
}

.manage-product-overlay-content h2, .manage-customer-overlay-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.manage-product-overlay-content form, .manage-customer-overlay-content form {
  display: flex;
  flex-direction: column;
}

.manage-product-overlay-content form label, .manage-customer-overlay-content form label {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.manage-product-overlay-content form input, .manage-customer-overlay-content form input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

.manage-product-overlay-content form button, .manage-customer-overlay-content form button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #03C988;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.manage-product-overlay-content form button:hover, .manage-customer-overlay-content form button:hover {
  background-color: #04ab73;
}

.manage-product-overlay-content form button[type="button"], .manage-customer-overlay-content form button[type="button"] {
  background-color: #6c757d;
  /* margin-left: 10px; */
}

.manage-product-overlay-content form button[type="button"]:hover, .manage-customer-overlay-content form button[type="button"]:hover {
  background-color: #5a6268;
}

@media only screen and (max-width: 700px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    margin-left: 10vw;
    margin-right: 15vw;
    padding-top: 55px;
    row-gap: 25px;
  }

  .container .box {
    height: 100%;
    width: 100%;
    padding: 20px;
    border-radius: 7px;
    border: 1px solid transparent;
    color: #fff;
  }

  .container .box .box-head {
    font-size: 25px;
  }

  .num {
    width: 100px;
  }

  .invoice-container {
    width: 90vw;
    margin: 50px auto;
  }

  .bill-box1 {
    height: 60vh;
    width: 80vw;
  }

  .bill-box2 {
    height: 50vh;
    width: 80vw;
  }

  .add-product-page-bill-box{
    height: 45vh;
    width: 90vw;
  }

  .add-customer-page-bill-box{
    height: 50vh;
    width: 90vw;
  }

  .bill-box3 {
    height: 50vh;
    width: 80vw;
  }

  .form-group {
    margin-top: 20px;
  }

  .form-control {
    width: 40vw;
    height: 5vh;
  }

  .bill-box-header {
    display: block;
    align-items: center;
    margin-bottom: 10px;
  }

  .bill-box-header h3 {
    position: relative;
    left: 10vw;
    margin-bottom: 10px;
  }

  h3.bill-details {
    position: relative;
    left: 20vw;
  }

  .bill-box-header .btn-primary,
  #reset {
    font-size: 12px;
    width: 45vw;
    height: 4vh;
    padding: auto;
    position: relative;
    left: 15vw;
  }

  .btn-success {
    height: 5vh;
    width: 25vw;
    margin-top: 10px;
  }

  .table-resp {
    overflow-x: auto;
  }

  .buttons {
    width: 80vw;
  }

  .btn-primary,
  .btn-info,
  .btn-secondary {
    width: 25vw;
  }

  .invoice-box {
    height: 15vh;
    width: 50vw;
  }

  #cent-tax,
  #cent-tax-amount,
  #state-tax,
  #state-tax-amount {
    width: 30%;
    margin-left: 10px;
  }

  .cent-tax,
  .state-tax {
    position: relative;
    left: 22%;
  }

  th,
  td {
    padding: 5px;
    font-size: 10px;
  }

  .searchbar-input {
    width: 70%;
    margin-bottom: 10px;
  }

  .pagination-btns {
    gap: 10px;
  }

  .pagination-button {
    height: 30px;
    width: 30px;
  }

  .view-invoice,
  .download-invoice,
  .delete-invoice {
    font-size: 16px;
  }

  .overlay-content {
    width: 90%;
    padding: 10px;
  }

  .invoice-overlay-content {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .manage-product-overlay-content{
    max-width: 90%;
  }

  .login-content {
    flex-direction: column;
  }
  .login-form-box{
    width: 70vw;
  }

}